In [2]:
import os

In [3]:
#Instalamos pyspark
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 46 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 51.3 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=c994d3047c2976d0381b31062513d744e09afa8ca9f2c6d5497462b54b997c52
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [4]:
#Importamos una sesión y la instanceamos
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('spark-dataframe-demo').getOrCreate()

In [5]:
from pyspark.sql import *
 
Employee = Row("firstName", "lastName", "email", "salary")
#Creamos a cada empleado
employee1 = Employee('Basher', 'armbrust', 'bash@edureka.co', 100000)
employee2 = Employee('Daniel', 'meng', 'daniel@stanford.edu', 120000 )
employee3 = Employee('Muriel', None, 'muriel@waterloo.edu', 140000 )
employee4 = Employee('Rachel', 'wendell', 'rach_3@edureka.co', 160000 )
employee5 = Employee('Zach', 'galifianakis', 'zach_g@edureka.co', 160000 )
 
print(Employee[0])
 
print(employee3)
#Asignamos id y nombre del departamento
department1 = Row(id='123456', name='HR')
department2 = Row(id='789012', name='OPS')
department3 = Row(id='345678', name='FN')
department4 = Row(id='901234', name='DEV')

firstName
Row(firstName='Muriel', lastName=None, email='muriel@waterloo.edu', salary=140000)

In [6]:
#A cada departamento con empleados le asignamos empleados y un nombre como id de departamento
departmentWithEmployees1 = Row(department=department1, employees=[employee1, employee2, employee5])
departmentWithEmployees2 = Row(department=department2, employees=[employee3, employee4])
departmentWithEmployees3 = Row(department=department3, employees=[employee1, employee4, employee3])
departmentWithEmployees4 = Row(department=department4, employees=[employee2, employee3])

In [13]:
#Guardamos a los departamentos con empleados en un dataframe mas grande
departmentsWithEmployees_Seq = [departmentWithEmployees1, departmentWithEmployees2,departmentWithEmployees3,departmentWithEmployees4]
dframe = spark.createDataFrame(departmentsWithEmployees_Seq)
display(dframe)
dframe.show()

DataFrame[department: struct<id:string,name:string>, employees: array<struct<firstName:string,lastName:string,email:string,salary:bigint>>]

+-------------+--------------------+
|   department|           employees|
+-------------+--------------------+
| {123456, HR}|[{Basher, armbrus...|
|{789012, OPS}|[{Muriel, null, m...|
| {345678, FN}|[{Basher, armbrus...|
|{901234, DEV}|[{Daniel, meng, d...|
+-------------+--------------------+

In [14]:
#También podemos crear un dataframe a partir de un archivo csv
fifa_df = spark.read.csv("PlayerNames.csv", inferSchema = True, header = True)
fifa_df.show()

+------------------+--------------------+
|              Name|                 url|
+------------------+--------------------+
| Cristiano Ronaldo|/player/20801/cri...|
|      Lionel Messi|/player/158023/li...|
|            Neymar|/player/190871/ne...|
|       Luis Suárez|/player/176580/lu...|
|      Manuel Neuer|/player/167495/ma...|
|            De Gea|/player/193080/de...|
|Robert Lewandowski|/player/188545/ro...|
|       Gareth Bale|/player/173731/ga...|
|Zlatan Ibrahimović|/player/41236/zla...|
|  Thibaut Courtois|/player/192119/th...|
|    Jérôme Boateng|/player/183907/j%...|
|       Eden Hazard|/player/183277/ed...|
|       Luka Modrić|/player/177003/lu...|
|        Mesut Özil|/player/176635/me...|
|   Gonzalo Higuaín|/player/167664/go...|
|      Thiago Silva|/player/164240/th...|
|      Sergio Ramos|/player/155862/se...|
|     Sergio Agüero|/player/153079/se...|
|        Paul Pogba|/player/195864/pa...|
| Antoine Griezmann|/player/194765/an...|
+------------------+--------------------+
only showing top 20 rows

In [12]:
fifa_df.select('Name').show()

+------------------+
|              Name|
+------------------+
| Cristiano Ronaldo|
|      Lionel Messi|
|            Neymar|
|       Luis Suárez|
|      Manuel Neuer|
|            De Gea|
|Robert Lewandowski|
|       Gareth Bale|
|Zlatan Ibrahimović|
|  Thibaut Courtois|
|    Jérôme Boateng|
|       Eden Hazard|
|       Luka Modrić|
|        Mesut Özil|
|   Gonzalo Higuaín|
|      Thiago Silva|
|      Sergio Ramos|
|     Sergio Agüero|
|        Paul Pogba|
| Antoine Griezmann|
+------------------+
only showing top 20 rows